.nano-player {
  z-index: 2;
  position: relative;
  margin: 5px;
  width: 400px;
  overflow: hidden;
  border-radius: 5px;
}
.nano-player .blurbg,
.nano-player .album-face {
  transition: background-image ease 0.2s;
}
.nano-player .blurbg {
  z-index: 0;
  top: -20px; left: -20px; right: -20px; bottom: -20px;
  filter: blur(20px) brightness(50%);
  background-size: cover;
  background-position: center;
}
.nano-player .visualizer {
  z-index: 0;
  width: 100%;
  height: 100%;
}
.nano-player .blurbg,
.nano-player .visualizer {
  position: absolute;
}
.nano-player .container {
  display: flex;
}
.nano-player .album-face {
  z-index: 2;
  flex: 0 0 120px;
  height: 120px;
  margin: 10px;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
}
.nano-player .meta-and-controls {
  margin: 10px 10px 10px 0;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
}
.nano-player .title {
  margin: 0 0 2px 0;
  font-size: 1.2em;
  color: white;
  font-weight: normal;
  white-space: pre;
  display: inline-block;
}
.nano-player .artist {
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 0 2px 0;
  font-size: 0.9em;
  color: white;
  font-weight: normal;
  white-space: nowrap;
}
.nano-player .lyrics {
  display: block;
  font-size: 0.8em;
  color: white;
}
.nano-player .controls {
  position: absolute;
  display: flex;
  bottom: 5px;
  height: 30px;
  left: 0;
  right: 5px;
}
.nano-player .button {
  display: inline-block;
  height: 30px;
  box-sizing: border-box;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 3;
}
.nano-player .play-button {
  flex: 0 0 30px;
  /*background-image: url(play.svg);*/
}
.nano-player .list-button {
  flex: 0 0 30px;
  /*background-image: url(play-list.svg);*/
}
.nano-player .next-button {
  flex: 0 0 20px;
  /*background-image: url(next.svg);*/
}
.nano-player .prev-button {
  flex: 0 0 20px;
  /*background-image: url(prev.svg);*/
}
.nano-player .progress-container {
  flex-grow: 1;
  display: inline-block;
  position: relative;
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
  z-index: 3;
}
.nano-player .progress {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  border: 1px solid white;
  box-sizing: border-box;
}
.nano-player .progress-indicater {
  position: absolute;
  display: inline-block;
  border: 1px solid white;
  width: 0;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: border-box;
  height: 50%;
  border-radius: 1px;
}
.nano-player .button > svg {
  width: 100%;
  height: 100%;
}